* {
  padding: 0%;
  margin: 0%;
}

body {
  width: 100%;
  height: 100%;

  background: url("Image BG.jpg") repeat center;

  display: flex;
  justify-content: center;
  align-items: center;
}

div[class="Card"] {
  width: 35%;
  height: 40vh;

  padding: 1%;

  background: url("Image 1.jpg") repeat center;

  border: solid #000 5px;
  border-radius: 50px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  margin-top: 12%;

  font-family: Bahnschrift;
  font-weight: 400;

  color: #0000;

  transition: 2s ease-in;
}

p[class="Card_1-Text_1"] {
  font-size: 35px;
}

p[class="Card_1-Text_2"] {
  font-size: 25px;
}

p[class="Card_1-Text_3"] {
  font-size: 20px;
}

div[class="Card"]:hover {
  width: 40%;
  height: 45vh;

  background: url("Image 2.jpg") repeat center;

  border-radius: 25px;

  font-size: 30px;
  font-weight: 700;

  color: #000;

  transform: rotate(0.625deg);
  transition: 2s ease-out;
}

@media screen and (max-width: 10000px) {
  div[class="Card"] {
    width: 50%;
    height: 30vh;

    padding: 0.5%;

    background: url("Image 1.jpg") repeat center;

    border: solid #000 2.5px;
    border-radius: 25px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    margin-top: 12%;

    font-family: Bahnschrift;
    font-weight: 400;

    color: #0000;

    transition: 2s ease-in;
  }

  div[class="Card"]:hover {
    width: 65%;
    height: 40vh;

    background: url("Image 2.jpg") repeat center;

    border-radius: 10px;

    font-weight: 700;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    color: #000;

    transform: rotate(0.625deg);
    transition: 2s ease-out;
  }

  p[class="Card_1-Text_1"] {
    font-size: 17.5px;
  }

  p[class="Card_1-Text_2"] {
    font-size: 12.5px;
  }

  p[class="Card_1-Text_3"] {
    font-size: 10px;
  }
}
